

#owl-demo .item{
  margin: 3px;
}

.category-top{
  padding: 0px 25%;
  #owl-demo .item{
    margin: 3px;
  }

}
//ê đạt ơi trước style là dùng container rồi chia 6 để ra cái đống kia giờ tôi định xóa đống
//bên trên rồi tự style có được k và làm kiểu gì thì nó chia đều giống thế kia??


.category-top{
  border: solid 1px;
  border-top: none;
  border-color: #e5e5e5;
  width: 100%;

  > :first-child{
    border-left: solid 1px;
    border-color: #e5e5e5;
  }
  .category-bot{
    display: flex;


    .listcategory{
      padding: 5% 0px;
      border: solid 1px;
      border-color: #e5e5e5;
      text-align: center;
      height: 180px;
      width: 180px;
      border-left: none;
      border-bottom: none;

      &:hover{
        background-color: #fc887b;
        color: white;
      }
      span{
        font-size: 50px;

      }
      .content3{
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
