/*slideshow*/
.slide-show {
  padding: 10%;;
  margin-top: 33px;
  background-image: url("http://demo12.cmsmart.net/retreatclub_tf/home3/wp-content/uploads/2020/07/banner-home-3-.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  height: 750px;

  img {
    width: 100%;

    margin-top: 20px;
  }

  .content-slide-show {
    width: 100%;

    color: white;
    text-align: left;
    text-transform: uppercase;
    margin-top: 44px;
    top: 0;
    left: 0;

    h3 {
      font-size: 30px;
      font-weight: 700;
    }

    h2 {

      font-family: "Playfair Display", Sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 73px;
      padding: 0px 202px 0 0;
    }

    .content__slideshow-block-sreach {
      max-width: 710px;
      padding: 0;
      border-bottom: 0;
      display: flex;
      input, select, button {
        height: 50px;
        width: 250px;
        border: none;
        margin-top: 24px;
        outline: none;
        font-size: 14px;
        font: inherit;
      }

      input {
        padding: 0 25px;
        color: #797979;
        border-right: solid 4px;
        background-image: url("../image/line-img.jpg");
        background-repeat:no-repeat;
        background-position:top 10px right 13px ;
      }

      select {
        margin-left: -7px;
        padding: 0 25px;
        appearance: none;
        background-image: url("../image/selct-item.jpg");
        background-repeat:no-repeat;
        background-position:top 24px right 32px ;
        width: 285px;
      }

      button {
        margin-left: -5px;
        background-color: #2b3840;
        color: white;
        width: 210px;
      }
    }
  }
}



@media (min-width: 992px) and (max-width: 1199px){
 .slide-show{
   .content-slide-show{
     margin-top: 215px;
     h3{
       text-align: center;
       font-size: 23px;
       font-weight: 700;
       font-family: Playfair Display;
     }
     h2{
       text-align: center;
       font-weight: 400;
       font-size: 35px;
       padding: 0;
       margin-top: -15px;

     }
     .content__slideshow-block-sreach{
       margin-left: 50px;
       margin-top: -29px;
     }
   }
 }
}


@media (min-width: 768px) and (max-width: 991px){
 .slide-show{
   .content-slide-show{
     margin-top: 130px;
     h3{
       text-align: center;
       font-size: 23px;
       font-weight: 700;
       font-family: Playfair Display;
     }
     h2{
       text-align: center;
       font-weight: 400;
       font-size: 31px;
       padding: 0;
       margin-top: -15px;
       line-height: 42px;

     }
     .content__slideshow-block-sreach {
       input{
         background-image: none;
         border-right: none;
         border-bottom: 1px solid #ccc;
       }
       select{
         border-bottom: 1px solid #ccc;
         margin-left: 0;
         width: 252px;

       }
       background: #fff;
       max-width: 425px;
       margin: auto;
       padding: 25px 25px 25px 25px;
       display: inherit;
       text-align: center;
     }
   }
 }
}
