/*under-header*/

.under-header {
  .under-header1 {
    .logo {
      img {
        width: 170px;
        height: 70px;
        margin: -14px;
      }

    }

    .menu {
      position: relative;

      ul {
        position: absolute;
        margin-left: 130px;
        left: 22px;

        li {
          list-style-type: none;
          display: inline;
          margin-left: 25px;

          a {
            color: black;
            font-size: 16px;
            line-height: 32px;
            font-weight: normal;
            text-transform: uppercase;
            text-decoration: none;
          }
        }

        #button-menu {
          background-color: #fc887b;
          color: white;
          text-align: center;
          width: 150px;
          height: 48px;
          line-height: 48px;
          margin-left: 30px;
          border: none;
        }
      }
    }

  }

}







