@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

.main {
  background-color: #2b3840;
  height: 50px;
  line-height: 50px;
  font-family: 'Lato', sans-serif !important;
  font-size: 14px; }
  .main .login-header {
    text-align: end;
    margin-left: 26px; }
  .main .top-header {
    color: #ffffff;
    display: flex;
    padding: 0px; }
    .main .top-header .nav-top-header {
      display: flex;
      float: left;
      margin-left: 15px; }
      .main .top-header .nav-top-header #content2 {
        margin-left: 35px;
        margin-right: 11px;
        color: #fc887b; }
      .main .top-header .nav-top-header .content1 {
        margin-left: 5px; }
      .main .top-header .nav-top-header .content3 {
        margin-left: 19px; }
        .main .top-header .nav-top-header .content3 span #content3 {
          padding-right: 9px;
          color: #fc887b; }
    .main .top-header .login-header .login {
      margin-right: 1px; }
      .main .top-header .login-header .login .content {
        margin-right: 13px; }
      .main .top-header .login-header .login .name-login {
        margin-right: 19px; }

.block-threeicon {
  display: none !important; }

.nav__mobie-close {
  font-size: 25px;
  color: #666;
  position: absolute;
  top: 1rem;
  right: 1rem; }

#nav-mobie-input:checked ~ .nav__mobile {
  transform: translateX(0%);
  opacity: 1; }

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: white;
  z-index: 10000;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s; }

.nav__mobile-list {
  margin-top: 24px; }

.nav__mobile-link {
  text-decoration: none !important;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem; }

@media (max-width: 1024px) {
  .block {
    display: block !important;
    font-size: 25px;
    display: none !important; } }
/*under-header*/
.under-header .under-header1 .logo img {
  width: 170px;
  height: 70px;
  margin: -14px;
  margin-left: 13px;
  margin-top: -13px; }
.under-header .under-header1 .menu {
  position: relative; }
  .under-header .under-header1 .menu ul {
    position: absolute;
    left: 180px;
    font-weight: 400;
    font-size: 16px; }
    .under-header .under-header1 .menu ul li {
      list-style-type: none;
      display: inline;
      margin-left: 31px; }
      .under-header .under-header1 .menu ul li a {
        color: black;
        font-size: 16px;
        line-height: 32px;
        font-weight: normal;
        text-decoration: none; }
    .under-header .under-header1 .menu ul #button-menu {
      background-color: #fc887b;
      color: white;
      text-align: center;
      width: 150px;
      height: 48px;
      line-height: 48px;
      margin-left: 30px;
      border: none; }

@media (max-width: 1024px) {
  .under-header .under-header1 .menu ul {
    left: -61px;
    width: 100%; }
    .under-header .under-header1 .menu ul .icon__search-menu {
      display: none; }
    .under-header .under-header1 .menu ul li {
      margin-left: 25px; } }
/*slideshow*/
.slide-show {
  padding: 10%;
  margin-top: 33px;
  background-image: url("http://demo12.cmsmart.net/retreatclub_tf/home3/wp-content/uploads/2020/07/banner-home-3-.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  height: 750px; }
  .slide-show img {
    width: 100%;
    margin-top: 20px; }
  .slide-show .content-slide-show {
    width: 100%;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin-top: 51px;
    margin-left: 200px;
    top: 0;
    left: 0; }
    .slide-show .content-slide-show h3 {
      font-size: 30px;
      font-weight: 700; }
    .slide-show .content-slide-show h2 {
      font-family: "Playfair Display", Sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 73px; }
    .slide-show .content-slide-show .content__slideshow-block-sreach {
      max-width: 710px;
      padding: 0;
      border-bottom: 0; }
      .slide-show .content-slide-show .content__slideshow-block-sreach input, .slide-show .content-slide-show .content__slideshow-block-sreach select, .slide-show .content-slide-show .content__slideshow-block-sreach button {
        height: 50px;
        width: 250px;
        border: none;
        margin-top: 24px;
        outline: none;
        font-size: 14px;
        font: inherit; }
      .slide-show .content-slide-show .content__slideshow-block-sreach input {
        padding: 0 25px;
        color: #797979;
        border-right: solid 4px; }
      .slide-show .content-slide-show .content__slideshow-block-sreach select {
        margin-left: -7px;
        padding: 0 25px; }
      .slide-show .content-slide-show .content__slideshow-block-sreach button {
        margin-left: -5px;
        background-color: #2b3840;
        color: white;
        width: 210px; }

#owl-demo .item {
  margin: 3px; }

.category-top {
  padding: 0px 25%; }
  .category-top #owl-demo .item {
    margin: 3px; }
  .category-top #owl-demo .item img {
    display: block;
    width: 100%;
    height: auto; }

.category-top {
  border: solid 1px;
  border-top: none;
  border-color: #e5e5e5;
  width: 100%; }
  .category-top > :first-child {
    border-left: solid 1px;
    border-color: #e5e5e5; }
  .category-top .category-bot {
    display: flex; }
    .category-top .category-bot .listcategory {
      padding: 5% 0px;
      border: solid 1px;
      border-color: #e5e5e5;
      text-align: center;
      height: 180px;
      width: 180px;
      border-left: none;
      border-bottom: none; }
      .category-top .category-bot .listcategory:hover {
        background-color: #fc887b;
        color: white; }
      .category-top .category-bot .listcategory span {
        font-size: 50px; }
      .category-top .category-bot .listcategory .content3 {
        font-size: 16px;
        text-align: center; }

.tittle {
  text-align: center;
  margin-top: 84px;
  font-weight: 450;
  margin-left: 396px; }
  .tittle img {
    margin-top: -7px; }

@media (max-width: 1440px) {
  .tittle {
    margin-left: 145px; } }
.wapper__slider {
  margin-top: 55px;
  margin-left: 389px; }
  .wapper__slider .row .wapper__silder-block1 .wapper__silder-img {
    position: relative; }
    .wapper__slider .row .wapper__silder-block1 .wapper__silder-img .lable {
      position: absolute;
      padding: 0;
      top: 22px;
      right: 19px;
      background-color: #d62963;
      border-radius: 17px;
      font-size: 75%;
      font-weight: 700;
      color: #fff;
      display: inline;
      white-space: nowrap;
      vertical-align: baseline; }
      .wapper__slider .row .wapper__silder-block1 .wapper__silder-img .lable .popular {
        text-align: center;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        width: 81px;
        height: 5px; }
    .wapper__slider .row .wapper__silder-block1 .wapper__silder-img .price {
      background-color: #fc887b;
      position: absolute;
      left: 22px;
      border-radius: 13px;
      color: white;
      bottom: 19px;
      width: 65px;
      text-align: center; }
      .wapper__slider .row .wapper__silder-block1 .wapper__silder-img .price p {
        font-size: 13px;
        font-weight: 700;
        line-height: 28px;
        display: flex;
        padding-right: 10px;
        height: 28px;
        align-items: center;
        margin-bottom: 0;
        margin-left: 12px; }
    .wapper__slider .row .wapper__silder-block1 .wapper__silder-img .rate {
      float: left;
      height: 46px;
      position: absolute;
      top: 198px;
      right: 11px; }
  .wapper__slider .row .wapper__silder-block1 .rate:not(:checked) > input {
    position: absolute;
    top: -9999px; }
  .wapper__slider .row .wapper__silder-block1 .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc; }
  .wapper__slider .row .wapper__silder-block1 .rate:not(:checked) > label:before {
    content: '★ '; }
  .wapper__slider .row .wapper__silder-block1 .rate > input:checked ~ label {
    color: #ffc700; }
  .wapper__slider .row .wapper__silder-block1 .rate:not(:checked) > label:hover,
  .wapper__slider .row .wapper__silder-block1 .rate:not(:checked) > label:hover ~ label {
    color: #deb217; }
  .wapper__slider .row .wapper__silder-block1 .rate > input:checked + label:hover,
  .wapper__slider .row .wapper__silder-block1 .rate > input:checked + label:hover ~ label,
  .wapper__slider .row .wapper__silder-block1 .rate > input:checked ~ label:hover,
  .wapper__slider .row .wapper__silder-block1 .rate > input:checked ~ label:hover ~ label,
  .wapper__slider .row .wapper__silder-block1 .rate > label:hover ~ input:checked ~ label {
    color: #c59b08; }
  .wapper__slider .row .wapper__silder-footer {
    border: 1px solid #e5e5e5;
    border-top: none;
    padding: 15px 30px; }
    .wapper__slider .row .wapper__silder-footer .wapper__silder-content {
      font-family: Lato;
      font-weight: 400;
      font-size: 16px; }
      .wapper__slider .row .wapper__silder-footer .wapper__silder-content .h3 {
        font-size: 24px;
        font-weight: 700;
        font-family: Playfair Display;
        color: #2b3840; }
      .wapper__slider .row .wapper__silder-footer .wapper__silder-content p {
        font-weight: 400;
        font-size: 16px; }
      .wapper__slider .row .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer {
        display: flex;
        justify-content: space-between; }
        .wapper__slider .row .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer .icon__content--footer {
          margin-left: 12px; }
        .wapper__slider .row .wapper__silder-footer .wapper__silder-content .wapper__siler-content-footer button {
          padding: 3px 20px;
          border-radius: 16px;
          font-weight: 700;
          border: 1px solid #e5e5e5; }
  .wapper__slider .row .wapper__silder-heart {
    display: flex;
    border: 1px solid #e5e5e5;
    border-top: none;
    justify-content: space-between;
    padding: 3px 29px;
    line-height: 43px;
    height: 50px;
    color: #fc887b; }
    .wapper__slider .row .wapper__silder-heart span {
      color: #fc887b;
      width: 30px;
      height: 30px;
      border: 1px solid;
      border-radius: 16px; }

.element-button {
  text-align: center;
  margin-top: 17px;
  margin-left: 388px; }
  .element-button button {
    display: inline-block;
    background-color: #fc887b;
    font-size: 16px;
    line-height: 30px;
    padding: 0 49px;
    height: 50px;
    text-align: center;
    color: #fff;
    border: none;
    margin-top: 50px; }

@media (max-width: 1440px) {
  .wapper__slider {
    margin-left: 143px; }

  .element-button {
    margin-left: 164px; } }
